@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  /* apply to everything*/
  box-sizing: border-box; /* padding doesn't effect width */
}

body {
  font-family: "Muli", sans-serif;
  display: flex; /* center everything */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0; /* */
}
